$white: #ffffff;
$blue1: #20519d;
$blue2: #0f2648;
$orange: #d46b2b;
$black1: #151c20;
$black2: #263238;
$blueBgForm: #81a7e8;
$footerBg: #0d1f3b;
$BgBackgroundGray: #f5f5f5;
$BorderColorGrey: #ebf0f8;
$AccordionGrey: #f9fbff;
$TextGrey: #8B8B8B;
