.F-border-grey {
  border: 4px solid $BorderColorGrey;
  position: relative;
}
.F-border-blue {
  border: 4px solid $BorderColorGrey;
  position: relative;
}
.F-border-white {
  border: 4px solid $BorderColorGrey;
  position: relative;
}
.NumberBorder{
  border: 1px solid $BorderColorGrey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.F-border-Candidater{
  border: 2px solid #ebf0f8;
}
.F-border-Candidater-contact{
  border: 2px solid $blue1 !important;
}