.F-btn {
  position: relative;
  font-weight: 700 !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  border-color: $white !important;
  border-width: 2px !important ;
  color: $white !important;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  transition: all 0.5s !important;
  &.fc-blue {
    color: $blue2 !important;
    border-color: $blue2 !important;
  }
  &.fbg-blue {
    color: $white !important;
    border: none;
    background-color: $blue1 !important;
  }
  &:hover {
    .arrow {
      padding-right: 15px;
    }
    width: calc(200px + 20px) !important;
    transition: all 0.5s;
  }
}
.arrow {
  position: absolute;
  left: 85%;
  transition: all 0.7s;
}

.btn-telecharger {
  border: 1px solid $blue1;
  cursor: pointer;
  background-color:$white;
  color: #20519d;
  &:hover {
    background-color:$BorderColorGrey;
  }
}
