.Calendrier {
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 36% 100%, 36% 80%, 0 80%);
  .date-up {
    min-width: 160px;
    clip-path: polygon(
      50% 0,
      60% 20%,
      100% 20%,
      100% 100%,
      0 100%,
      0 20%,
      40% 20%
    );
  }

  .date-down {
    min-width: 160px;
    clip-path: polygon(
      100% 0,
      100% 80%,
      60% 80%,
      50% 100%,
      40% 80%,
      0 80%,
      0 0
    );
  }
  .box-timeline1 {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 4.5rem;
      z-index: -1;
      background-color: #b0c8f1;
    }
  }
}
.F-bg-calendrier-blue {
  background: linear-gradient(to right, #bed1f3, #dee9f9);
}
.F-bg-calendrier-green {
  background: linear-gradient(to right, #47a269, #5ad588);
  color: $white;
}
.box-timeline {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: 4.5rem;
    z-index: -1;
    background-color: #b0c8f1;
    right: 0;
  }
  &.mode-2 {
    &::after {
      left: 0;
    }
  }
}
