.slider {
  .carousel-item {
    max-height: 100vh;
    background: no-repeat scroll center scroll;
    background-size: cover;
    position: relative;

    .carousel-caption,
    .carousel-caption {
      position: absolute;
      top: 40%;
      width: 760px;
      text-align: start;
    }
  }

  .carousel-indicators [data-bs-target] {
    height: 10px !important;
    width: 50px !important;
  }

  .carousel-control-next {
    right: 0 !important;
    left: 82% !important;
    top: 40%;
    height: 70px;
    width: 0;
    opacity: 1;
  }
  .carousel-control-prev {
    right: 0 !important;
    left: 82% !important;
    top: 50%;
    height: 70px;
    width: 0;
  }
  .carousel-control-prev-icon {
    background-color: rgb(187, 187, 187);
    padding: 7px 5px 35px 60px;
    background-image: url(../img/prev.svg) !important;
    background-size: auto;
    opacity: 1 !important;
    &:hover {
      background-color: $white;
      background-image: url(../img/prev-1.svg) !important;
      padding: 7px 10px 35px 65px;
      transition-duration: 0.3s;
    }
  }
  .carousel-control-next-icon {
    background-color: $white;
    padding: 7px 5px 35px 60px;
    background-image: url(../img/next.svg) !important;
    background-size: auto;
    &:hover {
      padding: 7px 10px 35px 65px;
      transition-duration: 0.3s;
    }
  }
}
// Verticale carousel
.verticale .carousel-item-next.carousel-item-start,
.verticale .carousel-item-prev.carousel-item-end {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.verticale .carousel-item-prev,
.verticale .active.carousel-item-start {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.verticale .carousel-item-next,
.verticale .active.carousel-item-end {
  -webkit-transform: translate3d(0, 110%, 0);
  transform: translate3d(0, 110% 0);
   z-index: 1; // pour tuer overflow bug 1366x728
}
// mediaQuery
@media only screen and (max-width: 768px) {
  .carousel-control-next {
   top: 30% !important;
  }
}