.l-footer {
  background-color: $footerBg;
  position: relative;
  .hr_Footer {
    height: 2px !important;
    color: white;
  }
  .bg_footer {
    position: absolute;
    bottom: 20px;
    left: 11%;
  }
}
@media only screen and (max-width: 600px) {
  .bg_footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
