.formContacter_shadow {
  filter: drop-shadow(25px 47px 1px rgba(129, 167, 232, 0.342));
}
.F-contact-bg {
  position: relative;
  z-index: 1;
  background-color: $white;
  padding-top: 94px;
}
.F-contact-bg-nav {
  background: linear-gradient(
    135deg,
    rgba(235, 240, 248, 1) 0%,
    rgba(235, 239, 246, 1) 0%
  );
}
.F-contact-bg:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(
    135deg,
    rgba(235, 240, 248, 1) 0%,
    rgba(235, 239, 246, 1) 0%
  );
  content: "";
}
.formContacter {
  background-color: $white !important;
  clip-path: polygon(
    0 0,
    0 100%,
    93% 100%,
    93% 97%,
    97% 97%,
    97% 87%,
    100% 87%,
    100% 0
  );
  min-height: 660px;
  width: 90%;
}
.logoContactbg {
  clip-path: polygon(100% 0, 100% 78%, 0% 78%, 0 0);
  background-image: url(../img/LogoContact.svg);
  background-repeat: no-repeat;
  background-position: center center;
  // background-size: contain;
}
.F-textarea {
  height: 110px;
}
@media screen and (max-width: 991px) {
  .logoContactbg {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
  }
}
