// Hot Fix Vendredi
.navbar-nav {
  li:nth-child(3) {
    margin-right: 250px !important;
  }
  li:nth-child(4) {
      right: 0;
    }
  &.blue-border {
    li:nth-child(4) {
      border: 2px solid $blue1 !important;
    }
  }
    &.white-border {
    li:nth-child(4) {
      border: 2px solid $white !important;
    }
  }
}
.F-link{
  a{
      font-weight: bold;
      color: $blue1;
  }
}
.F-path-active{
  li:nth-child(2) {
    font-weight: 600;
    color: $blue1;
  }
}
//
.navigation_bar {
  position: absolute !important;
  padding: 2rem !important;
  &.F-blue {
    background: linear-gradient(
      135deg,
      rgba(235, 240, 248, 1) 0%,
      rgba(235, 239, 246, 1) 0%
    );
  }
  .navbar-brand {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .navigation_item {
    position: relative;
    &:hover {
      &::before {
        content: "";
        background-color: white;
        width: 5px;
        height: 5px;
        top: 17px;
        position: absolute;
        left: -5px;
      }
    }
  }
  .navigation_item.f-blue:hover::before {
    background-color: $blue1;
  }
  .active-nav.f-blue::before {
    background-color: $blue1;
  }
  .contact {
    margin-right: 200px !important;
  }
  .active-nav {
    background-color: none;
    font-weight: bold !important;
    &::before {
      content: "";
      background-color: white;
      width: 5px;
      height: 5px;
      top: 17px;
      position: absolute;
      left: -5px;
    }
  }

  li:last-child {
    width: 142px;
    text-align: center;
    position: absolute;
    transition: 0.25s ease-in-out;
    &:hover {
      width: 150px !important;
      transition: 0.25s ease-in-out;
      &::before {
        visibility: hidden;
      }
    }
  }
}
