.banner-image {
  background-image: url(../img/bg_notre_mission.png);
  background-size: cover;
  color: white;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.fondation_item {
  background-image: url(../img/bgg.png);
  background-size: cover;
  .fondation_item_block {
    .F-block_top {
      position: relative;
      &:hover {
        transform: translate(0, -15px) !important;
        transition: 0.3s;
      }
      .block_top_image {
        left: 15px;
        position: absolute;
        top: 60px;
        z-index: 1;
      }
      .F-block {
        background-color: #ffffff;
        width: 370px;
        height: 320px;
        clip-path: polygon(
          0 0,
          0 100%,
          100% 100%,
          100% 18%,
          95% 18%,
          95% 6%,
          88% 6%,
          88% 0
        );
        position: relative;
        .description {
          margin-top: 20%;
          padding-top: 100px;
        }
        .F-block_bg_image {
          position: absolute;
          bottom: 25px;
          right: 25px;
        }
      }
    }
  }
}
