.banner-image-PG {
  background-image: url(../img/bg_program_bourse1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  height: 490px;
  margin-bottom: -80px;
}
.block-desc-image {
  left: 30px;
  bottom: -30px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px #8b8a8a;
  transition: 0.3s;
  right: 130px;
  &:hover {
    transform: translate(0, -10px);
    transition: 0.3s;
  }
}

.block-title-item {
  width: 280px;
  z-index: 1;
  background: linear-gradient(to bottom, $AccordionGrey, $BorderColorGrey);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.253);
}

.info-programme {
  clip-path: polygon(0 0, 100% 0%, 100% 96%, 67% 96%, 67% 100%, 0 100%);
  margin-top: -85px;
  // z-index: -1;
}

.bg-info1 {
  bottom: 0;
  left: 0;
}

.bg-info2 {
  top: 0;
  right: 0;
  z-index: -1;
}

.eligibilite {
  clip-path: polygon(
    0 0,
    100% 0%,
    100% 63%,
    98% 63%,
    98% 80%,
    94% 80%,
    94% 100%,
    0 100%
  );
  background: linear-gradient(to right, #e7f9f0, #e6efff);
}

.Consistance-item,
.tab-Televente,
.tab-Management,
.d-item-list1,
.d-item-list2,
.d-item-list3,
.d-item-list4,
.d-item-list5 {
  li {
    list-style: none;
    position: relative;

    &::before {
      content: "";
      background: #20519d;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: absolute;
      left: -15px;
      top: 10px;
    }
  }

  .c-item-list1 {
    :last-child {
      color: #d46b2b;

      &::before {
        content: "";
        background: none;
      }
    }
  }
}

.eligibles {
  background-color: #ebf0f8;
  margin-top: -20px !important;
}

/* Switch References */
.tab-content > .active {
  display: flex !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-link.active {
  border: none !important;
  font-weight: bolder;
}

/* Tabs Style */
.nav-tabs > li {
  float: left;
  position: relative;
}

.nav-link.active {
  background-color: white !important;
}

.tab-content > .active {
  background-color: white !important;
}

.nav-link.noStyle {
  color: black !important;
}

.documents-demandes {
  background-image: url(../img/documents.png);
  background-size: cover;
  background-color: #f8f8f8;
}

.Calendrier {
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 36% 100%, 36% 80%, 0 80%);
  margin-bottom: -30px;
}

//mobile css
@media only screen and (max-width: 1254px) {
  .bg-info1,
  .bg-info2,
  .desc-image {
    width: 100%;
  }
  .block-desc-image {
    left: 4%;
    right: 10px;
  }
}

// YB added overrides
.accordion-button:not(.collapsed) {
  color: $black1 !important;
  background: linear-gradient(to left, $AccordionGrey, $BorderColorGrey);
}
.accordion-button.collapsed {
  color: $black1 !important;
  background: linear-gradient(to left, $AccordionGrey, $BorderColorGrey);
}
.accordion-item {
  border: none !important;
}
