.F-bg-Programme-bourse {
  background-image: url(../img/bg_program_bourse.png);
  background-size: cover;
  color: white;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}
.F-bg-blue {
  background: #ebf0f8;
  .F-text-color {
    color: #20519d !important;
  }
}
.F-bg-red {
  background: #faebeb;
  .F-text-color {
    color: #cb4141;
  }
}
.F-bg-green {
  background: #dcf8eb;
  .F-text-color {
    color: #109155;
  }
}
.F-clip-cascade {
  clip-path: polygon(100% 0, 100% 75%, 83% 75%, 83% 100%, 0 100%, 0 0);
  margin-right: 15px;
  vertical-align: middle;
}
.F-block-coming {
  height: 150px;
  background-color: #e1e1e1;
}
