.F-img-stats {
  max-width: 30% !important;
  padding-left: 15px;
}
.F-box-stats {
  width: 350px;
  max-height: 118px !important;
  z-index: 1;
  box-shadow: 0px 1px 10px #d8d8d8;
  transition: 0.7s;
  border-radius: 8px;
  &:hover {
    transform: translate(0, -10px);
    transition: 0.7s;
  }
}
.bg_boursier {
  background: linear-gradient(to right, #d5e0ee, #eff6ff);
  .bg_image {
    position: relative;
    padding: 60px 0;

    .bg_international {
      position: absolute;
      right: -55px;
    }
  }
}