// Titres
.F-title-52 {
  font-size: 3.250em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.F-title-42 {
  font-size: 2.625em;
  text-transform: uppercase;
  font-weight: 800;
}
.F-title-42-light {
  font-size: 2.625em;
  text-transform: uppercase;
}
.F-title-36 {
  font-size: 2.250em;
  text-transform: uppercase;
  font-weight: 600;
  strong{
    color: $blue1;
  }
}
.F-title-28 {
  font-size: 1.750em;

}
.F-title-22 {
  font-size: 1.375em;
  font-weight: 500;
}
.F-title-24 {
  font-size: 1.500em;
}
.F-title-20 {
  font-size: 1.250em;
  text-transform: uppercase;
}
.F-title-18 {
  font-size: 1.125em;
}
// Textes
.F-text-20 {
  font-size: 1.250em;
}
.F-text-18 {
  font-size: 18px;
}
.F-text-17 {
  font-size: 1.063em;
}
.F-text-16 {
  font-size: 1em;
}
.F-text-14 {
  font-size: 0.875em;
}
.F-text-nav {
  font-size: 0.875em;
  font-weight: 600;
  &.text-blue-nav {
    color: $blue2 !important;
  }
}
.F-padding-title-42{
  padding-top: 9rem !important;
}
.text-blue {
  color: $blue1;
}
.text-grey {
  color: $TextGrey;
}
.F-fontStyle-blue {
  font-weight: bold;
  color: $blue1;
}
// costom 
.F-fw-600{
  font-weight: 600 !important;
  strong{
    font-weight: 700;
  }

}
.F-fw-500{
  font-weight: 500 ;
}
.text-justify {
  text-align: justify;
}
.z-index-1 {
  z-index: 1;
}
.F-timeline{
  padding-bottom: 7rem !important;
}