@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: 'Inter';
}

.F-btn {
  position: relative;
  font-weight: 700 !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  border-color: #ffffff !important;
  border-width: 2px !important;
  color: #ffffff !important;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  -webkit-transition: all 0.5s !important;
  transition: all 0.5s !important;
}

.F-btn.fc-blue {
  color: #0f2648 !important;
  border-color: #0f2648 !important;
}

.F-btn.fbg-blue {
  color: #ffffff !important;
  border: none;
  background-color: #20519d !important;
}

.F-btn:hover {
  width: calc(200px + 20px) !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.F-btn:hover .arrow {
  padding-right: 15px;
}

.arrow {
  position: absolute;
  left: 85%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btn-telecharger {
  border: 1px solid #20519d;
  cursor: pointer;
  background-color: #ffffff;
  color: #20519d;
}

.btn-telecharger:hover {
  background-color: #ebf0f8;
}

.l-footer {
  background-color: #0d1f3b;
  position: relative;
}

.l-footer .hr_Footer {
  height: 2px !important;
  color: white;
}

.l-footer .bg_footer {
  position: absolute;
  bottom: 20px;
  left: 11%;
}

@media only screen and (max-width: 600px) {
  .bg_footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.formContacter_shadow {
  -webkit-filter: drop-shadow(25px 47px 1px rgba(129, 167, 232, 0.342));
          filter: drop-shadow(25px 47px 1px rgba(129, 167, 232, 0.342));
}

.F-contact-bg {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  padding-top: 94px;
}

.F-contact-bg-nav {
  background: linear-gradient(135deg, #ebf0f8 0%, #ebeff6 0%);
}

.F-contact-bg:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(135deg, #ebf0f8 0%, #ebeff6 0%);
  content: "";
}

.formContacter {
  background-color: #ffffff !important;
  -webkit-clip-path: polygon(0 0, 0 100%, 93% 100%, 93% 97%, 97% 97%, 97% 87%, 100% 87%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 93% 100%, 93% 97%, 97% 97%, 97% 87%, 100% 87%, 100% 0);
  min-height: 660px;
  width: 90%;
}

.logoContactbg {
  -webkit-clip-path: polygon(100% 0, 100% 78%, 0% 78%, 0 0);
          clip-path: polygon(100% 0, 100% 78%, 0% 78%, 0 0);
  background-image: url(../img/LogoContact.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.F-textarea {
  height: 110px;
}

@media screen and (max-width: 991px) {
  .logoContactbg {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0);
  }
}

.F-title-52 {
  font-size: 3.250em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.F-title-42 {
  font-size: 2.625em;
  text-transform: uppercase;
  font-weight: 800;
}

.F-title-42-light {
  font-size: 2.625em;
  text-transform: uppercase;
}

.F-title-36 {
  font-size: 2.250em;
  text-transform: uppercase;
  font-weight: 600;
}

.F-title-36 strong {
  color: #20519d;
}

.F-title-28 {
  font-size: 1.750em;
}

.F-title-22 {
  font-size: 1.375em;
  font-weight: 500;
}

.F-title-24 {
  font-size: 1.500em;
}

.F-title-20 {
  font-size: 1.250em;
  text-transform: uppercase;
}

.F-title-18 {
  font-size: 1.125em;
}

.F-text-20 {
  font-size: 1.250em;
}

.F-text-18 {
  font-size: 18px;
}

.F-text-17 {
  font-size: 1.063em;
}

.F-text-16 {
  font-size: 1em;
}

.F-text-14 {
  font-size: 0.875em;
}

.F-text-nav {
  font-size: 0.875em;
  font-weight: 600;
}

.F-text-nav.text-blue-nav {
  color: #0f2648 !important;
}

.F-padding-title-42 {
  padding-top: 9rem !important;
}

.text-blue {
  color: #20519d;
}

.text-grey {
  color: #8B8B8B;
}

.F-fontStyle-blue {
  font-weight: bold;
  color: #20519d;
}

.F-fw-600 {
  font-weight: 600 !important;
}

.F-fw-600 strong {
  font-weight: 700;
}

.F-fw-500 {
  font-weight: 500;
}

.text-justify {
  text-align: justify;
}

.z-index-1 {
  z-index: 1;
}

.F-timeline {
  padding-bottom: 7rem !important;
}

.navbar-nav li:nth-child(3) {
  margin-right: 250px !important;
}

.navbar-nav li:nth-child(4) {
  right: 0;
}

.navbar-nav.blue-border li:nth-child(4) {
  border: 2px solid #20519d !important;
}

.navbar-nav.white-border li:nth-child(4) {
  border: 2px solid #ffffff !important;
}

.F-link a {
  font-weight: bold;
  color: #20519d;
}

.F-path-active li:nth-child(2) {
  font-weight: 600;
  color: #20519d;
}

.navigation_bar {
  position: absolute !important;
  padding: 2rem !important;
}

.navigation_bar.F-blue {
  background: linear-gradient(135deg, #ebf0f8 0%, #ebeff6 0%);
}

.navigation_bar .navbar-brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation_bar .navigation_item {
  position: relative;
}

.navigation_bar .navigation_item:hover::before {
  content: "";
  background-color: white;
  width: 5px;
  height: 5px;
  top: 17px;
  position: absolute;
  left: -5px;
}

.navigation_bar .navigation_item.f-blue:hover::before {
  background-color: #20519d;
}

.navigation_bar .active-nav.f-blue::before {
  background-color: #20519d;
}

.navigation_bar .contact {
  margin-right: 200px !important;
}

.navigation_bar .active-nav {
  background-color: none;
  font-weight: bold !important;
}

.navigation_bar .active-nav::before {
  content: "";
  background-color: white;
  width: 5px;
  height: 5px;
  top: 17px;
  position: absolute;
  left: -5px;
}

.navigation_bar li:last-child {
  width: 142px;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navigation_bar li:last-child:hover {
  width: 150px !important;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navigation_bar li:last-child:hover::before {
  visibility: hidden;
}

.F-input {
  border-radius: 0 !important;
  border-color: #c2cad8 !important;
  -webkit-filter: none !important;
          filter: none !important;
  height: 47px;
}

#SuccessLottie {
  text-align: center;
}

#SuccessLottie svg {
  width: 50% !important;
  height: 100% !important;
}

.banner-image {
  background-image: url(../img/bg_notre_mission.png);
  background-size: cover;
  color: white;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.fondation_item {
  background-image: url(../img/bgg.png);
  background-size: cover;
}

.fondation_item .fondation_item_block .F-block_top {
  position: relative;
}

.fondation_item .fondation_item_block .F-block_top:hover {
  -webkit-transform: translate(0, -15px) !important;
          transform: translate(0, -15px) !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fondation_item .fondation_item_block .F-block_top .block_top_image {
  left: 15px;
  position: absolute;
  top: 60px;
  z-index: 1;
}

.fondation_item .fondation_item_block .F-block_top .F-block {
  background-color: #ffffff;
  width: 370px;
  height: 320px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 18%, 95% 18%, 95% 6%, 88% 6%, 88% 0);
          clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 18%, 95% 18%, 95% 6%, 88% 6%, 88% 0);
  position: relative;
}

.fondation_item .fondation_item_block .F-block_top .F-block .description {
  margin-top: 20%;
  padding-top: 100px;
}

.fondation_item .fondation_item_block .F-block_top .F-block .F-block_bg_image {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.F-img-stats {
  max-width: 30% !important;
  padding-left: 15px;
}

.F-box-stats {
  width: 350px;
  max-height: 118px !important;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 10px #d8d8d8;
          box-shadow: 0px 1px 10px #d8d8d8;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 8px;
}

.F-box-stats:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.bg_boursier {
  background: -webkit-gradient(linear, left top, right top, from(#d5e0ee), to(#eff6ff));
  background: linear-gradient(to right, #d5e0ee, #eff6ff);
}

.bg_boursier .bg_image {
  position: relative;
  padding: 60px 0;
}

.bg_boursier .bg_image .bg_international {
  position: absolute;
  right: -55px;
}

.F-bg-Programme-bourse {
  background-image: url(../img/bg_program_bourse.png);
  background-size: cover;
  color: white;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.F-bg-blue {
  background: #ebf0f8;
}

.F-bg-blue .F-text-color {
  color: #20519d !important;
}

.F-bg-red {
  background: #faebeb;
}

.F-bg-red .F-text-color {
  color: #cb4141;
}

.F-bg-green {
  background: #dcf8eb;
}

.F-bg-green .F-text-color {
  color: #109155;
}

.F-clip-cascade {
  -webkit-clip-path: polygon(100% 0, 100% 75%, 83% 75%, 83% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 75%, 83% 75%, 83% 100%, 0 100%, 0 0);
  margin-right: 15px;
  vertical-align: middle;
}

.F-block-coming {
  height: 150px;
  background-color: #e1e1e1;
}

.F-border-grey {
  border: 4px solid #ebf0f8;
  position: relative;
}

.F-border-blue {
  border: 4px solid #ebf0f8;
  position: relative;
}

.F-border-white {
  border: 4px solid #ebf0f8;
  position: relative;
}

.NumberBorder {
  border: 1px solid #ebf0f8;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.F-border-Candidater {
  border: 2px solid #ebf0f8;
}

.F-border-Candidater-contact {
  border: 2px solid #20519d !important;
}

.slider .carousel-item {
  max-height: 100vh;
  background: no-repeat scroll center scroll;
  background-size: cover;
  position: relative;
}

.slider .carousel-item .carousel-caption,
.slider .carousel-item .carousel-caption {
  position: absolute;
  top: 40%;
  width: 760px;
  text-align: start;
}

.slider .carousel-indicators [data-bs-target] {
  height: 10px !important;
  width: 50px !important;
}

.slider .carousel-control-next {
  right: 0 !important;
  left: 82% !important;
  top: 40%;
  height: 70px;
  width: 0;
  opacity: 1;
}

.slider .carousel-control-prev {
  right: 0 !important;
  left: 82% !important;
  top: 50%;
  height: 70px;
  width: 0;
}

.slider .carousel-control-prev-icon {
  background-color: #bbbbbb;
  padding: 7px 5px 35px 60px;
  background-image: url(../img/prev.svg) !important;
  background-size: auto;
  opacity: 1 !important;
}

.slider .carousel-control-prev-icon:hover {
  background-color: #ffffff;
  background-image: url(../img/prev-1.svg) !important;
  padding: 7px 10px 35px 65px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.slider .carousel-control-next-icon {
  background-color: #ffffff;
  padding: 7px 5px 35px 60px;
  background-image: url(../img/next.svg) !important;
  background-size: auto;
}

.slider .carousel-control-next-icon:hover {
  padding: 7px 10px 35px 65px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.verticale .carousel-item-next.carousel-item-start,
.verticale .carousel-item-prev.carousel-item-end {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.verticale .carousel-item-prev,
.verticale .active.carousel-item-start {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.verticale .carousel-item-next,
.verticale .active.carousel-item-end {
  -webkit-transform: translate3d(0, 110%, 0);
  transform: translate3d(0, 110% 0);
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .carousel-control-next {
    top: 30% !important;
  }
}

.banner-image-PG {
  background-image: url(../img/bg_program_bourse1.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 490px;
  margin-bottom: -80px;
}

.block-desc-image {
  left: 30px;
  bottom: -30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 10px #8b8a8a;
          box-shadow: 0px 1px 10px #8b8a8a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 130px;
}

.block-desc-image:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block-title-item {
  width: 280px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fbff), to(#ebf0f8));
  background: linear-gradient(to bottom, #f9fbff, #ebf0f8);
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.253);
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.253);
}

.info-programme {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 96%, 67% 96%, 67% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 96%, 67% 96%, 67% 100%, 0 100%);
  margin-top: -85px;
}

.bg-info1 {
  bottom: 0;
  left: 0;
}

.bg-info2 {
  top: 0;
  right: 0;
  z-index: -1;
}

.eligibilite {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 63%, 98% 63%, 98% 80%, 94% 80%, 94% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 63%, 98% 63%, 98% 80%, 94% 80%, 94% 100%, 0 100%);
  background: -webkit-gradient(linear, left top, right top, from(#e7f9f0), to(#e6efff));
  background: linear-gradient(to right, #e7f9f0, #e6efff);
}

.Consistance-item li,
.tab-Televente li,
.tab-Management li,
.d-item-list1 li,
.d-item-list2 li,
.d-item-list3 li,
.d-item-list4 li,
.d-item-list5 li {
  list-style: none;
  position: relative;
}

.Consistance-item li::before,
.tab-Televente li::before,
.tab-Management li::before,
.d-item-list1 li::before,
.d-item-list2 li::before,
.d-item-list3 li::before,
.d-item-list4 li::before,
.d-item-list5 li::before {
  content: "";
  background: #20519d;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 10px;
}

.Consistance-item .c-item-list1 :last-child,
.tab-Televente .c-item-list1 :last-child,
.tab-Management .c-item-list1 :last-child,
.d-item-list1 .c-item-list1 :last-child,
.d-item-list2 .c-item-list1 :last-child,
.d-item-list3 .c-item-list1 :last-child,
.d-item-list4 .c-item-list1 :last-child,
.d-item-list5 .c-item-list1 :last-child {
  color: #d46b2b;
}

.Consistance-item .c-item-list1 :last-child::before,
.tab-Televente .c-item-list1 :last-child::before,
.tab-Management .c-item-list1 :last-child::before,
.d-item-list1 .c-item-list1 :last-child::before,
.d-item-list2 .c-item-list1 :last-child::before,
.d-item-list3 .c-item-list1 :last-child::before,
.d-item-list4 .c-item-list1 :last-child::before,
.d-item-list5 .c-item-list1 :last-child::before {
  content: "";
  background: none;
}

.eligibles {
  background-color: #ebf0f8;
  margin-top: -20px !important;
}

/* Switch References */
.tab-content > .active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-link.active {
  border: none !important;
  font-weight: bolder;
}

/* Tabs Style */
.nav-tabs > li {
  float: left;
  position: relative;
}

.nav-link.active {
  background-color: white !important;
}

.tab-content > .active {
  background-color: white !important;
}

.nav-link.noStyle {
  color: black !important;
}

.documents-demandes {
  background-image: url(../img/documents.png);
  background-size: cover;
  background-color: #f8f8f8;
}

.Calendrier {
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 36% 100%, 36% 80%, 0 80%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 36% 100%, 36% 80%, 0 80%);
  margin-bottom: -30px;
}

@media only screen and (max-width: 1254px) {
  .bg-info1,
  .bg-info2,
  .desc-image {
    width: 100%;
  }
  .block-desc-image {
    left: 4%;
    right: 10px;
  }
}

.accordion-button:not(.collapsed) {
  color: #151c20 !important;
  background: -webkit-gradient(linear, right top, left top, from(#f9fbff), to(#ebf0f8));
  background: linear-gradient(to left, #f9fbff, #ebf0f8);
}

.accordion-button.collapsed {
  color: #151c20 !important;
  background: -webkit-gradient(linear, right top, left top, from(#f9fbff), to(#ebf0f8));
  background: linear-gradient(to left, #f9fbff, #ebf0f8);
}

.accordion-item {
  border: none !important;
}

.Calendrier {
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 36% 100%, 36% 80%, 0 80%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 36% 100%, 36% 80%, 0 80%);
}

.Calendrier .date-up {
  min-width: 160px;
  -webkit-clip-path: polygon(50% 0, 60% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 40% 20%);
          clip-path: polygon(50% 0, 60% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 40% 20%);
}

.Calendrier .date-down {
  min-width: 160px;
  -webkit-clip-path: polygon(100% 0, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0 80%, 0 0);
          clip-path: polygon(100% 0, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0 80%, 0 0);
}

.Calendrier .box-timeline1 {
  position: relative;
}

.Calendrier .box-timeline1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 4.5rem;
  z-index: -1;
  background-color: #b0c8f1;
}

.F-bg-calendrier-blue {
  background: -webkit-gradient(linear, left top, right top, from(#bed1f3), to(#dee9f9));
  background: linear-gradient(to right, #bed1f3, #dee9f9);
}

.F-bg-calendrier-green {
  background: -webkit-gradient(linear, left top, right top, from(#47a269), to(#5ad588));
  background: linear-gradient(to right, #47a269, #5ad588);
  color: #ffffff;
}

.box-timeline {
  position: relative;
}

.box-timeline::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  top: 4.5rem;
  z-index: -1;
  background-color: #b0c8f1;
  right: 0;
}

.box-timeline.mode-2::after {
  left: 0;
}
/*# sourceMappingURL=style.css.map */